/* Los estilos de tu proyecto */


#info{
    background-color: #FFB700;
}


.col-md-4{
    margin-top: 3em;
    padding-bottom:6em;
    padding-top: 3em;
    padding-left: 4em;
    
}
.col-md-4 h3,p {
    
    color:white;
    text-align: justify;
    line-height: 2em;
    
} 


