
 
/*Se estableces imagenes, colores y caracteristicas del texto del documento*/

#info {
    background-color: #FFB700;
}
/*imagen de fondo primera seccion*/
#img-1 {
    background-image: url("../assets/images/taxi.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
}

#cont-img {
    padding: 0;
}

/*Estilizando cajas con texto y botones*/
.col-md-4 {
    margin-top: 3em;
    padding-bottom: 6em;
    padding-top: 3em;
    padding-left: 4em;
}

.col-md-4 h1,
h3,
p {
    color: white;
    text-align: justify;
    line-height: 2em;
}

.col-md-5 {
    background-color: #FFB700;
    height: 20em;
    margin-top: 16em;
}

.btn-primary {
    color: black;
    background-color: #eed188;
    border: none;
    margin-bottom: 2em;
    margin-left: 1.5em;
}

.btn-primary:hover {
    background-color: #eed188;
    color: black;
}

#box-1 h2 {
    color: white;
}

#box-1 p {
    line-height: 2em;
    color: white;
}

#line p::after {
    content: "_";
    color: white;
    margin: 3em;
}

#line p::before {
    content: "_";
    color: white;
    margin: 3em;
}

#logo-small {
    width: 5.5em;
    height: 1.5em;
    margin-left: 10px;
}
/*Imagen de fondo tercera sección*/
#image-2 {
    background-image: url("../assets/images/conduce.jpg");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: 100% 45%;
}

#driver h3,
h5 {
    color: white;
}
/*Degradado y caracteristicas de la caja de texto y botón*/
#driver {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 6em;
    padding-bottom: 14.5em;
    margin-top: 0;
}
/*Cuarta sección, se estilizan inputs y se da formato a contenedor del mapa*/
#rate {
    background-color: #FFB700;
    padding-bottom: 6em;
}

.thumbnail {
    background-color: #FFB700;
}

#mapa {
    width: 100%;
}

#box-map {
    margin-top: 4em;
    margin-left: 5em;
}

#box-rate {
    margin-top: 4em;
    color: white;
}

.input-group {
    margin-bottom: 2em;
}

.form-control,
{
    background-color: #FFB700;
    border: none;
}

.input-group-addon {
    background-color: #FFB700;
    border: 1px solid white;
    border-radius: 6px;
}
/*Pie de página*/
#foo {
    background-color: #2F2F2F;
    padding-top: 5em;
    border-bottom: 1px solid white;
}

.list-group-item {
    border: none;
    background-color: #2F2F2F;
    color: white;
    cursor: pointer;
}

.list-group-item:hover {
    color: #FFB700;
}


/*Estilizando Clases visibles y ocultas*/

#txthdn h5,
h4,
h2 {
    color: white;
}

#texthdn h2 {
    margin:
}

#logo-sm {
    width: 2em;
    height: 0.5em;
    margin-left: 0.8em;
}

#bycar{
    background-color:#FFB700;
     
}

#bycar button {
    margin-top: 5em;
}

#l-1 {
    float: right;
    margin-top: 2em;
}

#icons span {
    color: white;
    margin-right: 5px;
    margin-top: 10em;
    cursor: pointer;
}

#icons span:active {
    color: #FFB700;
}

#icons-2 {
    color: white;
    margin-bottom: 5em;
}

#icons-2 span {
    margin-right: 3px;
    font-size: 1.1em;
    cursor: pointer;
}

#icons-2 span:active {
    color: #FFB700;
}

#app {
    margin-bottom: 2em;
    cursor: pointer;
}